@import url('https://fonts.googleapis.com/css?family=Chivo:300,400,700|Lora');

$font-family-base: "Chivo", sans-serif;
$font-family-alt: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-counter: 'Lora', serif;

$baseFontSize: 16px;
