@import url("https://fonts.googleapis.com/css?family=Chivo:300,400,700");

$font-family-headers: "Chivo", sans-serif;
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

h1,
h2 {
  font-family: $font-family-headers;
}

h1 {
  font-weight: 700;
}
